@import reset
@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap')
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i|Orbitron&display=swap')
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap')
@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap')

body
  margin: 0px
  overflow-x: hidden
  font-family: 'Jomolhari'

#canvas
  width: 100%
  height: 100%
  position: absolute
  z-index: -1

.statsOuter
  position: absolute
  top: 20px
  left: 20px
  padding: .5em
  border: 1px solid #fff
  border-radius: 31px
  box-shadow: 0px 0px 5px #fff

.statsOuter:hover
  box-shadow: 0px 0px 8px #fff

.stats
  width: auto
  opacity: .8
  border: 5px solid white
  border-radius: 22px
  font-size: 1.6em
  font-family: 'IBM Plex Sans', sans-serif
  color: white
  padding: .6em 25px
  line-height: 1.6em
  box-shadow: 0px 0px 10px #fff inset
  background: -webkit-linear-gradient(top left, #000000, rgba(255,255,255,.3));
  background: -moz-linear-gradient(top left, #000000, rgba(255,255,255,.3));
  background: linear-gradient(to bottom right, #000000, rgba(255,255,255,.3));
  transition: background 12s
  li
    text-shadow: 0px 0px 12px #fff
    font-family: 'Unica One', cursive;
    cursor: default
  li:first-child
    font-size: 1.7em
    font-family: 'Lobster', cursive;
    line-height: 1.5em
    text-align: center
    img
      width: 240px
      margin: 0 auto
  li:nth-child(n+11)
    cursor: pointer
  
.stats:hover
    background: -webkit-linear-gradient(top left, #000000, rgba(255,255,255,.4));
    background: -moz-linear-gradient(top left, #000000, rgba(255,255,255,.4));
    background: linear-gradient(to bottom right, #000000, rgba(255,255,255,.4));

.main
  width: 100%
  height: 100%
  opacity: 0

h1
  color: red

.section
  font-size: 2.4rem
  padding: 1.5rem 16rem
  line-height: 3.8rem
  text-align: center
  p
    display: block
    border-style: solid
    border-width: 1px
    border-color: black
    padding: 1.8rem 1.3rem

