@import reset
@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap')
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i|Orbitron&display=swap')
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap')
@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap')
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap')
body
  margin: 0px
  background-color: black
  overflow: hidden
  font-family: 'Unica One'

#introDiv
  display: grid
  grid-template-columns: .2fr 5fr 5fr .2fr
  width: 100%
  height: 100vh
  position: absolute
  z-index: 1
  background-color: rgba(0,0,0,0);
  opacity: 1
  
.intro
  background: -webkit-linear-gradient(left, rgba(0,0,0,.7), rgba(0,0,0,.2));
  background: -moz-linear-gradient(left, rgba(0,0,0,.7), rgba(0,0,0,.2));
  background: linear-gradient(right, rgba(0,0,0,.7), rgba(0,0,0,.2));
  max-width: 100%
  max-height: 0vh
  color: white
  transition: max-height .5s ease-in-out
  img
    display: block
    margin: 0 auto
    text-align: center

.active
  max-height: 100vh

.left
  perspective: 1000px
  opacity: .7
  li
    transform-origin: -40px 0 200px

.menuOn
  li
    @for $i from 1 through 12
        &:nth-child(#{$i})
          animation:
            name: menuOn
            duration: 2160ms *$i/8
            timing-function: ease-in-out
            fill-mode: forwards
            delay: $i*-.01s
  
.menuOff
  li
    @for $i from 1 through 11
        &:nth-child(#{$i})
          animation:
            name: menuOff
            duration: 40ms * 1/$i*50
            timing-function: ease-in-out
            fill-mode: forwards

@keyframes menuOn
  0%
    opacity: 0
    transform: rotateY(-270deg) translateY(0px) translateX(0px)
  100%
    opacity: 1
    transform: rotateY(0deg) traslateY(0px) translateX(0px)

@keyframes menuOff
  0%
    opacity: 1
    transform: rotateY(0deg) traslateY(0px) translateX(0px)
  100%
    opacity: 0
    transform: rotateY(90deg) translateY(0px) translateX(0px)

@keyframes pulse
  0%
    opacity: 0
  30%
    opacity: 1
  100%
    opacity: 0

@keyframes pulse2
  0%
    opacity: 0
  15%
    opacity: 1
  70%
    opacity: 1
  100%
    opacity: 0

.landing
  position: absolute
  opacity: 1
  animation: fadeIn 2s ease-in-out
  animation-fill-mode: forwards

#canvas
  width: 100%
  height: 100%
  position: absolute
  z-index: 0
  
@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0
  
.innerContainer
  display: grid
  grid-template-columns: 5fr 5fr
  // grid-gap: 10px 10px
  height: 100vh
  opacity: 1
  // animation:
  //   name: fadeIn
  //     duration: .4s
  //     delay: 1.2s
  //     fill-mode: forwards
#menuPic
  width: 200%
  border-radius: 5px
  box-shadow: -4px 4px 2px 0 #333
  border: 1px solid #ccc
  margin: 15px auto     

@keyframes fadeInPic
  0%
    opacity: 0
  100%
    opacity: .9

@keyframes grow
  0%
    width: 0vw
  100%
    width: 40vw

ul.menu
  display: flex
  flex-direction: column
  width: 100%
  & > li
    font-size: 4em
    opacity: 0
    &:nth-child(2)
      text-align: center
      font-family: 'Great Vibes', cursive;
      font-size: .2em
    &:nth-child(3)
      text-align: center
      font-family: 'Great Vibes', cursive;
      font-size: 4.3em
    &:nth-child(4)
      margin-top: 2%
    // &:nth-child(10)
    //   margin-bottom: 6%
  a
    text-decoration: none
    color: white

ul.menu > li.openTable
  img
    width: 90%
    margin: 5px

ul.menu > li.item
  background-color: rgba(255,255,255,.1)
  border-radius: 5px
  transition: background-color .3s
  transition: text-shadow .3s
  &:hover
    background-color: rgba(255,255,255,.2)
    text-shadow: 0 0 15px
  
ul.socialMedia
  width: 100%
  height: min-content
  display: flex
  flex-direction: row
  justify-content: space-around
  & > li > a > img
    width: 80%

.right
  img
    width: 200%
    animation:
      name: pic
      duration: 6s
      delay: .5s
      fill-mode: both
      timing-function: ease-in-out
  
@keyframes pic
  0%
    transform: translateX(1400px)
  6%
    transform: translateX(-20px)
  98%
    transform: translateX(30px)
  100%
    transform: translateX(1400px)

//-------------- MEDIA QUERIES -------------//

@media only screen and (max-width: 460px) and (orientation: portrait)

  .innerContainer
    grid-template-columns: 1fr 0fr
  
  #title
    padding-top: 9px
    width: 100%

  .noMobile
    display: none

  ul.menu
    align-content: space-between
    height: 100vh

  ul.menu
    & > li
      &:nth-child(3)
        margin-top: 5px
        font-size: 2em
   
  ul.menu > li.item
    padding: 5px 0
    height: min-content
    font-size: 1.7em
  
    
      
