extends layout

block content
  #canvas
  .main
    //- h1=mask.material.opacity
  
  //- .section
  //-   p For the best in local entertainment and cocktails, come on down to The Nest! Live music, hot cougars, sugar daddies galore! For a night filled with the smell of martinis and old people sweat come on down to The Nest!