extends layout

block content
  #canvas
  .main
    img(src="../images/nestFront.png")
  .section
    p For the best in entertainment and cocktail, come on down to The Nest! Live music, hot cougars, sugar daddies galore! For a night filled with the smell of martinis and old people sweat come of down for a night of fun at The Nest!