extends layout

block content
  
  #introDiv
    .margin
    #leftIntro.intro.active
      .innerContainer 
        .left.menuOn
          ul.menu
            //- - var n = 0
            //- while n < 12
            //-   li(id=n++)
            li
              img#title(src='../images/TheNestTitle3.png')
            li
              hr
            li Indian Wells
            li.item
              a(href='#') Home
            li.item
              a(href='#') Menu
            li.item
              a(href='#') Entertainment
            li.item
              a(href='#') Location
            li.item
              a(href='#') Banquets
            li.item
              a(href='#') Shop
            li.item
              a(href='#') Contact
            li.openTable
              a(href="#") 
                img(src="../images/opentable.gif")
            li
              ul.socialMedia
                li
                  a(href='https://www.facebook.com/The-Nest-124660990914862/')
                    img(src="../images/fb1.png")
                li
                  a(href="https://www.instagram.com/gotothenest/") 
                    img(src="../images/ig.png")
                li
                  a(href="https://www.yelp.com/biz/the-nest-indian-wells-2")
                    img(src="../images/yelp1.png")
        .right.noMobile
          ul.frontPagePics
            - for (var i = 0; i < 1; i++)
              li(style="background-image: url(" + ")")
    #rightIntro.intro
    .margin
  .landing  
    #canvas