extends layout

block content
  
  #introDiv
    #leftIntro.intro
      h1 Beans
    #rightIntro.intro
      h1 Cookinz
  .landing  
    //- .statsOuter
    //-   .stats
    //-     - var n = 0
    //-     ul
    //-       while n < 12
    //-         li(id=n++)
    .backSplash
      .innerContainer
        .margin
        .left
          ul.menu
            //- - var n = 0
            //- while n < 12
            //-   li(id=n++)
            li#title
            li
              hr
            li Indian Wells
            li 
              a(href='#') Home
            li
              a(href='#') Menu
            li
              a(href='#') Entertainment
            li
              a(href='#') Location
            li
              a(href='#') Banquets
            li
              a(href='#') Shop
            li
              a(href='#') Contact
            li
            li
            li
              ul.socialMedia
                li
                  a
                    img(src="../../src/images/fb.png")
                li
                  a 
                    img(src="../../src/images/ig.png")
        .gutter
        .right
          img#menuPic(src="../../src/images/dodiKevin.jpg")
        .margin
    #canvas
  //- .main
  //-   h1=yummy
  
  //- .section
  //-   p For the best in local entertainment and cocktails, come on down to The Nest! Live music, hot cougars, sugar daddies galore! For a night filled with the smell of martinis and old people sweat come on down to The Nest!