extends layout

block content
  
  #introDiv
    h1#welcome Welcome 
    h1#to to
    img(src="../../src/images/TheNestTitle3.png")
  .landing  
    .statsOuter
      .stats
        - var n = 0
        ul
          while n < 12
            li(id=n++)
    #canvas
  //- .main
  //-   h1=yummy
  
  //- .section
  //-   p For the best in local entertainment and cocktails, come on down to The Nest! Live music, hot cougars, sugar daddies galore! For a night filled with the smell of martinis and old people sweat come on down to The Nest!