extends layout

block content
  
  #introDiv
    .margin
    #leftIntro.intro.active
      .innerContainer
        .margin  
        .left.menuOn
          ul.menu
            //- - var n = 0
            //- while n < 12
            //-   li(id=n++)
            li
              img#title(src='../../src/images/TheNestTitle3.png')
            li
              hr
            li Indian Wells
            li.item
              a(href='#') Home
            li.item
              a(href='#') Menu
            li.item
              a(href='#') Entertainment
            li.item
              a(href='#') Location
            li.item
              a(href='#') Banquets
            li.item
              a(href='#') Shop
            li.item
              a(href='#') Contact
            li
              ul.socialMedia
                li
                  a(href='https://www.facebook.com/The-Nest-124660990914862/')
                    img(src="../../src/images/fb.png")
                li
                  a(href="https://www.instagram.com/gotothenest/") 
                    img(src="../../src/images/ig.png")
                li
                  a(href="https://www.yelp.com/biz/the-nest-indian-wells-2")
                    img(src="../../src/images/yelp.png")
        .margin
        .right.noMobile
          ul.frontPagePics
            - for (var i = 0; i < 1; i++)
              li(style="background-image: url(" + ")")
        .margin.noMobile
    #rightIntro.intro
    .margin
  .landing  
    //- .statsOuter
    //-   .stats
    //-     - var n = 0
    //-     ul
    //-       while n < 12
    //-         li(id=n++)
    .backSplash
      .gutter
      .right
        //- img#menuPic(src="../../src/images/dodiKevin.jpg")
      .margin
    #canvas
  //- .main
  //-   h1=yummy
  
  //- .section
  //-   p For the best in local entertainment and cocktails, come on down to The Nest! Live music, hot cougars, sugar daddies galore! For a night filled with the smell of martinis and old people sweat come on down to The Nest!